button {
  cursor: pointer;
}
button:hover {
  box-shadow: 0px 0px 20px 10px #00b80045;
}
button:active {
  background-color: #61b661;
}

button:disabled {
  cursor: not-allowed;
}

textarea:disabled {
  background-color: gray;
  cursor: not-allowed;
}